<style>
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto:300i,400');
</style>

<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<main id="root"></main>
