<link href="https://fonts.googleapis.com/css?family=Lato:300i,400|Open+Sans|Roboto:300i,400" rel="stylesheet">
<link href="http://diegoddox.github.io/react-redux-modal/0.5/react-redux-modal.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<main id="root"></main>
