// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


 body, section, div, h1, h2, p,
 form, input, {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }

 body {
   background: #f9f9f9;
   font-family: 'Roboto', sans-serif;
 }



.auth-form {
  background: #ffffff;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #555459;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border-radius: 3px;
  color: #555459
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;

  div {
    margin-bottom: 20px;
  }

  p {
    margin: 0;
  }

  a {
    color: #007AB8;
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;

    input {
      height: 40px;
      border: 1px solid;
      border-radius: 4px;
      margin-top: 10px;
    }

    input[type=text], input[type=password] {
      color: #404040;
      border-color: #9EACB2;
      background-color: rgb(250, 255, 189);
    }

    input[type=submit] {
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-shadow: none;
      background: #00B87F;
      border-color: #07A06D;
    }

    input[type=text]:hover {
      border-color: #0798d6;
    }

    input[type=password]:hover {
      border-color: #0798d6;
    }

    input[type=submit]:hover {
      background: #07A06D;
      cursor: pointer;
    }
  }

  h2 {
    margin: 10px;
    font-size: 26px;
    font-weight: bold;
  }

  ::-webkit-input-placeholder {
    padding: 5px;
    color: #B6BEC1;
    font-size: 13px;
  }
}
