$lightest-gray: #FFFFFF;
$light-gray: #F9F9F9;
$almost-gray: #E8E8E8;
$gray: #9A9A9A;
$darker-gray: #555459;
$darkest-gray: #373535;
$lightest-blue: #E2F6FB;
$light-blue: #B7E2EC;
$blue: #86C3D1;
$shiny-blue: #07D0FF;
$blue: #0798d6;
$green: #00B880;
$darker-green: #009064;


.user-list-modal {
  width: 800px;
  margin: 0 auto;

  .dm-form-container {

    form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 20px;
      margin-bottom: 10px;

      .input-wrapper {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        width: 90%;
        border: 1px solid $gray;
        border-radius: 4px;

        ul {
          display: flex;
          align-items: center;

          .selected-user {
            display: flex;
            align-items: center;
            border: 1px solid $gray;
            font-size: 16px;
            margin-right: 5px;
            padding: 2px;
            background: $light-blue;
            border-radius: 4px;

            img {
              border: 1px solid $gray;
              border-radius: 4px;
              width: 25px;
              height: 25px;
            }

            span {
              font-weight: 700;
              display: block;
              padding-bottom: 4px;
              padding-left: 4px;
            }

            i {
              display: block;
            }
          }
        }

        ul:first-child {
          margin-left: 5px;
        }

        .fa-times {
          display: block;
          margin-left: 8px;
          margin-right: 2px;
          opacity: 0.6;
        }

        .selected-user:hover {
          cursor: pointer;
        }

        .selected-user:hover .fa-times {
          opacity: 0.8;
        }
      }

      input {
        display: inline-block;
        height: 40px;
        padding-left: 5px;
      }

      #user-search {
        width: auto;
      }

      input[type=text]:hover {
        border-color: $blue;
      }

      input[type=submit] {
        width: 60px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: $lightest-gray;
        background: $green;
        border-color: $darker-green;
        border-radius: 4px;
        margin-left: 10px;
      }

      input[type=submit]:hover {
        background: $darker-green;
        cursor: pointer;
        box-shadow: 0 1px 0 rgba(0,0,0,.25);
        border-radius: 4px;
      }
    }

    .dm-users {
      height: 400px;
      overflow: scroll;

      .add-user {
        color: $gray;
        opacity: 0;
      }

      .user-modal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid $almost-gray;
        padding: 15px 15px;
        width: 90%;

        span {
          margin-left: 4px;
          font-weight: 400;
        }

        p {
          font-weight: 300i;
        }
      }

      .user-modal:hover {
        background: $lightest-blue;
        border-radius: 5px;
        cursor: pointer;
      }

      .user-modal:hover .add-user {
        opacity: 0.5;
      }
    }
  }
}
