$light-eggplant: #ab9ba9;
$dark-eggplant: #4d394b;
$darker-eggplant: #40333F;
$darkest-eggplant: #220920;
$darker-green: #4C9689;
$green: #00B880;
$lightest-gray: #FFFFFF;
$light-gray: #F9F9F9;
$almost-gray: #E8E8E8;
$gray: #C5C5C5;
$darker-gray: #555459;
$darkest-gray: #373535;

section {

  .messages-container {
    width: 100%;
    margin-left: 250px;

    .messages-header {
      position: fixed;
      display: block;
      width: 100%;
      height: 60px;
      background: $lightest-gray;
      border-bottom: 1px solid $almost-gray;
      box-shadow: 0 1px 0 rgba(0,0,0,.25);

      .channel-name {
        font-size: 22px;
        font-weight: 700;
        margin-left: 20px;
        color: $darkest-gray;

        i {
          margin-right: 5px;
        }
      }

      .channel-details {
        display: flex;
        align-items: baseline;
        font-weight: 400;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 10px;
        color: $darker-gray;

        .user-count {
          display: inline-block;
          padding-right: 10px;
          border-right: 1px solid $gray;

          i {
            margin-right: 4px;
            font-size: 14px;
          }
        }

        .channel-desc {
          display: inline-block;
          padding-left: 10px;
        }
      }
    }

    .message-items-container {
      padding-top: 61px;
      overflow-y: hidden;

      .message-item {
        padding-left: 20px;
        margin: 15px 0;

        .message-container {
          display: flex;
          align-items: center;

          .avatar1 {
            display: inline-block;
            background-image: asset_url('pepsi_man.png');
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $darker-gray;
            border-radius: 4px;
            width: 40px;
            height: 40px;
            box-shadow: 0 1px 0 rgba(0,0,0,.25);
          }

          .avatar2 {
            display: inline-block;
            background-image: asset_url('goku.png');
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $darker-gray;
            border-radius: 4px;
            width: 40px;
            height: 40px;
            box-shadow: 0 1px 0 rgba(0,0,0,.25);
          }
        }
      }

      .message-body {
        margin-left: 5px;


        .message-header {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;

          .message-author {
            display: inline-block;
            font-weight: 700;
            font-size: 16px;
            color: $darkest-gray;
          }

          .message-date {
            display: inline-block;
            margin-left: 8px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
